<div *ngIf="hero">

  <h2>Hero Name: {{ hero.hero.name | uppercase }} & {{hero.alias}}</h2>
  <div style="border: 1px solid red"[chart]="chart"></div>
  <div (click)="fireMyEvent()"><span>id: </span>{{hero.hero.id}}</div>
  <div class="jumbotron">
    <label >name:
      <input [(ngModel)]="hero.hero.name" placeholder="name"/>
    </label>
  </div>
  <span class="badge badge-primary">Primary</span>
  <button class="btn btn-primary" (click)="goBack()">go e step back</button>
  <button  (click)="fireMyEvent()">update chart</button>
  <button  (click)="getHero()">Rand</button>

  <button class="btn btn-info" (click)="save()">save</button>
</div>
